//styles of nav section

.nav-section {
  padding: 30px 0;
  background-color: @bgwhite;
  .logo {
    float: left;
  }
  .nav {
    float: right;
    a {
      display: inline-block;
      padding: 15px;
      font-family: @rabold;
      border-radius: 3px;
    }
    .search {
      .sprite(@searchicon);
      padding: 0;
      margin-left: 15px;
      vertical-align: middle;
    }
    .active {
      background-color: @mainblue;
      color: @textwhite;
    }
  }
}