<!--start of advantages section-->

<section class="advantages">
    <div class="container">
        <div class="advantages-menu">
            <div class="advantages-item sm6 md4">
                <a href="javascript: void(0)" class="arrow-box">
                    <div class="arrow-box-black">
                        <span class="icon resp2-icon"></span>
                        <div class="arrow-box-black-after">
                        </div>
                    </div>
                    <div class="arrow-box-blue">
                        <div class="arrow-box-blue-after">
                        </div>
                    </div>
                </a>
                <div class="advantages-item-text">
                    <p class="title">responsive & multipurpose</p>
                    <p class="description">Desktops, Tablets & Phones</p>
                    <p class="content">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla
                        accumsan. Praesent arcu turpis.</p>
                </div>
            </div>
            <div class="advantages-item sm6 md4">
                <a href="javascript: void(0)" class="arrow-box">
                    <div class="arrow-box-black advantages-active-blue">
                        <span class="icon cust2-icon"></span>
                        <div class="arrow-box-black-after">
                        </div>
                    </div>
                    <div class="arrow-box-blue advantages-active-black">
                        <div class="arrow-box-blue-after">
                        </div>
                    </div>
                </a>
                <div class="advantages-item-text">
                    <p class="title">easy customization</p>
                    <p class="description">One Click Demo Content Installation</p>
                    <p class="content">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla
                        accumsan. Praesent arcu turpis.</p>
                </div>
            </div>
            <div class="advantages-item sm6 md4">
                <a href="javascript: void(0)" class="arrow-box">
                    <div class="arrow-box-black">
                        <span class="icon feat2-icon"></span>
                        <div class="arrow-box-black-after">
                        </div>
                    </div>
                    <div class="arrow-box-blue">
                        <div class="arrow-box-blue-after">
                        </div>
                    </div>
                </a>
                <div class="advantages-item-text">
                    <p class="title">unlimited features</p>
                    <p class="description">Shortcodes, Typography & Different Layouts</p>
                    <p class="content">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla
                        accumsan. Praesent arcu turpis.</p>
                </div>
            </div>
            <div class="advantages-item sm6 md4">
                <a href="javascript: void(0)" class="arrow-box">
                    <div class="arrow-box-black">
                        <span class="icon coding-icon"></span>
                        <div class="arrow-box-black-after">
                        </div>
                    </div>
                    <div class="arrow-box-blue">
                        <div class="arrow-box-blue-after">
                        </div>
                    </div>
                </a>
                <div class="advantages-item-text">
                    <p class="title">clean & modular coding</p>
                    <p class="description">100% Clean, Valid & Well-Commented Coding</p>
                    <p class="content">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla
                        accumsan. Praesent arcu turpis.</p>
                </div>
            </div>
            <div class="advantages-item sm6 md4">
                <a href="javascript: void(0)" class="arrow-box">
                    <div class="arrow-box-black">
                        <span class="icon solutions-icon"></span>
                        <div class="arrow-box-black-after">
                        </div>
                    </div>
                    <div class="arrow-box-blue">
                        <div class="arrow-box-blue-after">
                        </div>
                    </div>
                </a>
                <div class="advantages-item-text">
                    <p class="title">the best e-commerce solutions</p>
                    <p class="description">WooCommerce Fully Integration</p>
                    <p class="content">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla
                        accumsan. Praesent arcu turpis.</p>
                </div>
            </div>
            <div class="advantages-item sm6 md4">
                <a href="javascript: void(0)" class="arrow-box">
                    <div class="arrow-box-black">
                        <span class="icon support-icon"></span>
                        <div class="arrow-box-black-after">
                        </div>
                    </div>
                    <div class="arrow-box-blue">
                        <div class="arrow-box-blue-after">
                        </div>
                    </div>
                </a>
                <div class="advantages-item-text">
                    <p class="title">awesome friendly support</p>
                    <p class="description">Free Lifetime Support & Updates</p>
                    <p class="content">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla
                        accumsan. Praesent arcu turpis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--end of advantages section-->