<!--start of counterup section-->

<section class="counterup">
    <div class="container">
        <div class="case-icon-square">
            <div class="case-icon"></div>
        </div>
        <div class="header-box">
            <div class="header-text">
                <div class="left-squares"></div>
                <span>COMPANY</span> <span>FACTS</span>
                <div class="right-squares"></div>
            </div>
            <p class="header-p">We do love to work and increase our counter numbers, this is what we’ve done till
                now</p>
        </div>

        <!--end of counterup section-->

        <div class="counter-item">
            <div class="blacksquare"></div>
            <span class="counter">218</span>
            <div class="blacksquare"></div>
            <div class="counter-icon-box">
                <div class="counter-line">
                    <div class="counter-icon-bg">
                        <div class="counter-compleateicon"></div>
                    </div>
                </div>
            </div>
            <p class="counter-text">completed projects</p>
        </div>
        <div class="counter-item">
            <div class="blacksquare"></div>
            <span class="counter">360</span>
            <div class="blacksquare"></div>
            <div class="counter-icon-box">
                <div class="counter-line">
                    <div class="counter-icon-bg">
                        <div class="counter-hoursicon"></div>
                    </div>
                </div>
            </div>
            <p class="counter-text">hours of work <span>/month</span></p>
        </div>
        <div class="counter-item">
            <div class="blacksquare"></div>
            <span class="counter">135</span>
            <div class="blacksquare"></div>
            <div class="counter-icon-box">
                <div class="counter-line">
                    <div class="counter-icon-bg">
                        <div class="counter-solvedicon"></div>
                    </div>
                </div>
            </div>
            <p class="counter-text">solved tickets</p>
        </div>
        <div class="counter-item">
            <div class="blacksquare"></div>
            <span class="counter">174</span>
            <div class="blacksquare"></div>
            <div class="counter-icon-box">
                <div class="counter-line">
                    <div class="counter-icon-bg">
                        <div class="counter-satisfiedicon"></div>
                    </div>
                </div>
            </div>
            <p class="counter-text">satisfied clients</p>
        </div>
</section>