<!--start footerslider section-->

<section class="footerslider">
    <div class="container">
        <div class="owl-carousel">
            <div class="footerslider-item">
                <a href="#" class="valign">
                    <div class="valign-content"><img src="img/s2p1.png" alt="scenthound."></div>
                </a></div>
            <div class="footerslider-item">
                <a href="#" class="valign">
                    <div class="valign-content"><img src="img/s2p2.png" alt="scenthound." ></div>
                </a></div>
            <div class="footerslider-item">
                <a href="#" class="valign">
                    <div class="valign-content"><img src="img/s2p3.png" alt="scenthound."></div>
                </a></div>
            <div class="footerslider-item">
                <a href="#" class="valign">
                    <div class="valign-content"><img src="img/s2p4.png" alt="scenthound."></div>
                </a></div>
            <div class="footerslider-item">
                <a href="#" class="valign">
                    <div class="valign-content"><img src="img/s2p1.png" alt="scenthound."></div>
                </a></div>
            <div class="footerslider-item">
                <a href="#" class="valign">
                    <div class="valign-content"><img src="img/s2p2.png" alt="scenthound." ></div>
                </a></div>
            <div class="footerslider-item">
                <a href="#" class="valign">
                    <div class="valign-content"><img src="img/s2p3.png" alt="scenthound."></div>
                </a></div>
            <div class="footerslider-item">
                <a href="#" class="valign">
                    <div class="valign-content"><img src="img/s2p4.png" alt="scenthound."></div>
                </a></div>
        </div>
    </div>
</section>

<!--end footerslider section-->