<!--start of team section-->

<section class="team">
    <div class="container">
        <div class="gradient-box">
            <div class="gradient-line"></div>
            <div class="gradient-line"></div>
        </div>
        <div class="header-box">
            <div class="header-text">
                <div class="left-squares"></div>
                <span>TEAM</span> <span>MEMBERS</span>
                <div class="right-squares"></div>
            </div>


            <p class="header-p">We do love to work and increase our counter numbers, this is what we’ve done till
                now</p>
        </div>

        <div class="owl-carousel">
            <div class="card">
                <div class="card-photo">
                    <div class="valign">
                        <div class="valign-content">
                            <div class="contacts-square-box">
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon fb-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon twitter-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon google-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon vkontakte-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon ball-icon"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-name">
                        <div class="card-name-text">alexis simpson</div>
                    </div>
                </div>

                <div class="card-border"><p class="card-position">CEO & Developer</p>
                    <div class="contact-box">
                        <div class="card-email">
                            <div class="email-icon"></div>
                            <div class="email-address">a.simpson@unique.com</div>
                        </div>
                        <div class="card-phone">
                            <div class="phone-icon"></div>
                            <div class="phone-number"> +1 911 (77) 222-1111</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-photo">
                    <div class="valign">
                        <div class="valign-content">
                            <div class="contacts-square-box">
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon fb-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon twitter-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon google-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon vkontakte-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon ball-icon"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-name">
                        <div class="card-name-text">steven cole</div>
                    </div>
                </div>

                <div class="card-border"><p class="card-position">User Interface Desingner</p>
                    <div class="contact-box">
                        <div class="card-email">
                            <div class="email-icon"></div>
                            <div class="email-address">s.cole@unique.com</div>
                        </div>
                        <div class="card-phone">
                            <div class="phone-icon"></div>
                            <div class="phone-number"> +1 911 (77) 222-1111</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-photo">
                    <div class="valign">
                        <div class="valign-content">
                            <div class="contacts-square-box">
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon fb-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon twitter-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon google-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon vkontakte-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon ball-icon"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-name">
                        <div class="card-name-text">frank piener</div>
                    </div>
                </div>

                <div class="card-border"><p class="card-position">Sales Maneger</p>
                    <div class="contact-box">
                        <div class="card-email">
                            <div class="email-icon"></div>
                            <div class="email-address">f.piener@unique.com</div>
                        </div>
                        <div class="card-phone">
                            <div class="phone-icon"></div>
                            <div class="phone-number"> +1 911 (77) 222-1111</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-photo">
                    <div class="valign">
                        <div class="valign-content">
                            <div class="contacts-square-box">
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon fb-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon twitter-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon google-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon vkontakte-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon ball-icon"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-name">
                        <div class="card-name-text">ashley lennon</div>
                    </div>
                </div>

                <div class="card-border"><p class="card-position">IT Specialist</p>
                    <div class="contact-box">
                        <div class="card-email">
                            <div class="email-icon"></div>
                            <div class="email-address">a.lennon@unique.com</div>
                        </div>
                        <div class="card-phone">
                            <div class="phone-icon"></div>
                            <div class="phone-number"> +1 911 (77) 222-1111</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-photo">
                    <div class="valign">
                        <div class="valign-content">
                            <div class="contacts-square-box">
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon fb-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon twitter-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon google-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon vkontakte-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon ball-icon"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-name">
                        <div class="card-name-text">alexis simpson</div>
                    </div>
                </div>

                <div class="card-border"><p class="card-position">CEO & Developer</p>
                    <div class="contact-box">
                        <div class="card-email">
                            <div class="email-icon"></div>
                            <div class="email-address">a.simpson@unique.com</div>
                        </div>
                        <div class="card-phone">
                            <div class="phone-icon"></div>
                            <div class="phone-number"> +1 911 (77) 222-1111</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-photo">
                    <div class="valign">
                        <div class="valign-content">
                            <div class="contacts-square-box">
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon fb-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon twitter-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon google-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon vkontakte-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon ball-icon"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-name">
                        <div class="card-name-text">alexis simpson</div>
                    </div>
                </div>

                <div class="card-border"><p class="card-position">CEO & Developer</p>
                    <div class="contact-box">
                        <div class="card-email">
                            <div class="email-icon"></div>
                            <div class="email-address">a.simpson@unique.com</div>
                        </div>
                        <div class="card-phone">
                            <div class="phone-icon"></div>
                            <div class="phone-number"> +1 911 (77) 222-1111</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-photo">
                    <div class="valign">
                        <div class="valign-content">
                            <div class="contacts-square-box">
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon fb-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon twitter-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon google-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon vkontakte-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon ball-icon"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-name">
                        <div class="card-name-text">alexis simpson</div>
                    </div>
                </div>

                <div class="card-border"><p class="card-position">CEO & Developer</p>
                    <div class="contact-box">
                        <div class="card-email">
                            <div class="email-icon"></div>
                            <div class="email-address">a.simpson@unique.com</div>
                        </div>
                        <div class="card-phone">
                            <div class="phone-icon"></div>
                            <div class="phone-number"> +1 911 (77) 222-1111</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-photo">
                    <div class="valign">
                        <div class="valign-content">
                            <div class="contacts-square-box">
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon fb-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon twitter-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon google-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon vkontakte-icon"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="contacts-square">
                                    <div class="valign">
                                        <div class="valign-content">
                                            <div class="contacts-icon ball-icon"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-name">
                        <div class="card-name-text">alexis simpson</div>
                    </div>
                </div>

                <div class="card-border"><p class="card-position">CEO & Developer</p>
                    <div class="contact-box">
                        <div class="card-email">
                            <div class="email-icon"></div>
                            <div class="email-address">a.simpson@unique.com</div>
                        </div>
                        <div class="card-phone">
                            <div class="phone-icon"></div>
                            <div class="phone-number"> +1 911 (77) 222-1111</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--end of team section-->