<!--start of amazingfeatures section-->

<section class="af">
    <div class="container">
        <div class="af-textbox">
            <div class="left-squares"></div>
            <h1>AMAZING <span>FEATURES</span></h1>
            <div class="right-squares"></div>
        </div>
        <p class="af-p">With unlimited features that we offer, we promise it’s possible to make everything that was
            impossible for you !</p>
        <div class="row">
            <div class="af-menu">
                <div class="af-item">
                    <div class="af-icon af-resp"></div>
                    <div class="af-item-text">
                        <p>responsive & multipurpose</p>
                        <p>Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
                    </div>
                </div>
                <div class="af-item">
                    <div class="af-icon af-cust"></div>
                    <div class="af-item-text">
                        <p>easy customization</p>
                        <p>Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
                    </div>
                </div>
                <div class="af-item">
                    <div class="af-icon af-feat"></div>
                    <div class="af-item-text">
                        <p>unlimited features</p>
                        <p>Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
                    </div>
                </div>
            </div>
            <div class="display-container">
            <img class="display-pic1" src="img/mockup4.png" alt="display">
            <img class="display-pic2" src="img/mockup3.png" alt="display">
            </div>
        </div>
    </div>
</section>

<!--end of amazingfeatures section-->