@import "includes/_settings";
@import "includes/_fonts";
@import "includes/_mixins";
@import "includes/_icons";
@import "includes/_grid";
html{
    font-family: @ramed, Arial;
    font-size: @font-size-base;
    color: @textblack;
}
.container{
    max-width: @width-max;
    margin: 0 auto;
//    .media(@width-mid, {
//padding: 0 2%;
//    });
}
a{
    text-decoration: none;
    color: inherit;
}
.valign{
    position: relative;
    height: 100%;
    &-content{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

//common header styles

.header-box {
    margin-bottom: 50px;
    .header-text > *{
        display: inline-block;
        vertical-align: middle;
    }
    .header-text {
        display: inline-block;
        margin-bottom: 20px;
        .left-squares {
        .sprite(@squaresicon1);
            margin-right: 20px;
    }
        font-family: @rabold;
        font-size: 26px;
        color: #e4e4e4;
        span:nth-child(3) {
            color: @mainblue;
        }
        .right-squares {
            .sprite(@squaresicon2);
            margin-left: 20px;
        }
    }

}

//carousel buttons styles
.owl-nav > * {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.owl-prev {
    &:after {
        position: absolute;
        top: 8px;
        right: 12px;
        content: '';
        border-style: solid;
        border-width: 7px 9px 7px 0px;
        border-color: transparent @textwhite transparent transparent;
    }
}
.owl-next {
    &:after {
        position: absolute;
        top: 8px;
        left: 12px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 9px;
        border-color: transparent transparent transparent @textwhite;
    }
}

@import "../../components/nav/_nav";
@import "../../components/amazingfeatures/_amazingfeatures";
@import "../../components/advantages/_advantages";
@import "../../components/counterup/_counterup";
@import "../../components/satisfied/_satisfied";
@import "../../components/team/_team";
@import "../../components/footerslider/_footerslider";


